<!DOCTYPE html>
<html lang="en-us" class="no-js">

<head>
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
 <link rel="shortcut icon" href="img/fav.png">
 <meta name="author" content="codepixer">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta charset="UTF-8">
 <title>Dormmate - Find Lobbies</title>

 <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
 <!--
			CSS
			============================================= -->
 <link rel="stylesheet" href="css/linearicons.css">
 <link rel="stylesheet" href="css/font-awesome.min.css">
 <link rel="stylesheet" href="css/bootstrap.css">
 <link rel="stylesheet" href="css/magnific-popup.css">
 <link rel="stylesheet" href="css/nice-select.css">
 <link rel="stylesheet" href="css/animate.min.css">
 <link rel="stylesheet" href="css/owl.carousel.css">
 <link rel="stylesheet" href="css/main.css">
</head>

<body>

 <header id="header" id="home">
  <div class="container">
   <div class="row align-items-center justify-content-between d-flex">
    <div id="logo">
      <a href="/home"> <h1 class="text-white text-uppercase">Dormmate</h1> </a>
    </div>
    <nav id="nav-menu-container">
        <ul class="nav-menu">
            <li class="menu-active"><a href="/home">Home</a></li>
            <li><a href="/home#about">About</a></li>
                <li class="menu-has-children"><a class="text-white"><strong> <%= user[0].username %> </strong></a>
                    <ul>
                        <li> <li><a href="/signout">Sign-Out</a></li> </li>                       
                    </ul>
                </li>
        </ul>
    </nav>
    <!-- #nav-menu-container -->
   </div>
  </div>
 </header>
 <!-- #header -->


 <!-- start banner Area -->
 <section id="home">
  <div class="container">
   <div class="row fullscreen d-flex align-items-center justify-content-start"> 
    <!-- Empty Containers -->
    <div class="container px-lg-5">
        <div class="row mx-lg-n5">
          <div class="col py-3 px-lg-5">
          </div>
          <div class="col py-3 px-lg-5">
          </div>
        </div>
      </div>
   
      <div class="container px-lg-5">
        <div class="row mx-lg-n5">
          <div class="col py-3 px-lg-5">
          </div>
          <div class="col py-3 px-lg-5">
          </div>
        </div>
      </div>
      <!-- End of Empty -->

      <!-- Search form -->
      <div class="container px-lg-5">
        <div class="row mx-lg-n5">
         <div class="col py-3 px-lg-5">
           <!--   <input class="form-control" type="text" placeholder="Search using Location, Budget, Room Size.." aria-label="Search"> -->
          </div>
          <h4 class="text-white">Search for Lobbies & &nbsp;</h4>
          <h4 class="text-white">Filter Lobbies</h4>
          <div class="col py-3 px-lg-5">

          </div>
        </div>
      </div>

      <div class="container px-lg-5">
        <div class="row mx-lg-n5">
          <div class="col py-3 px-lg-5">
            <form class="form-inline d-flex justify-content-center md-form form-sm active-pink active-pink-2 mt-2">
                <input class="form-control mr-3 w-75" type="text" placeholder="Name, Location, Budget, Smokers, Alcoholics, Student Dorms, Free Wifi.." aria-label="Search">
                  <!-- <i class="fas fa-search" aria-hidden="true"></i> -->
                  <button class="btn-sm btn-danger" style="border: none;">Filter<i class="fas fa-search ml-2"></i></button> 
            </form>
          </div>
          <!-- <div class="col py-3 px-lg-5">
             <button class="btn btn-danger">Filter<i class="fas fa-magic ml-1"></i></button> 
          </div> -->
        </div>
        <hr>
      </div>


      <!-- Cards -->
    <div class="wrapper-flex">
<!-- SOY STOPPED HERE ON 12:19 AM 07/12/2020   -->
      <% for(var i =0; i< lobbies.length;i++){ %>
      <div class="container-card ">
        <div class='banner-img' style="background-image: url('<%=lobbies[i].IMAGE %>')"></div>
        <img src='<%=lobbies[i].PROFILEPICTURE %>' alt='profile image' class="profile-img">
        <p class="roomNumber text-dark"><%=lobbies[i].TITLE %></p>
        <p class="description"><%=lobbies[i].DESCRIPTION %></p>
        <i class="fas fa-map-marker-alt"></i> &nbsp; <%= lobbies[i].ADDRESS %><br>
        <strong>Created by</strong> :  <%= lobbies[i].USERNAME%><br>
        <strong>Views</strong> :  <%= lobbies[i].VIEWS%><br>
        <strong>Room Members:</strong> <%= lobbies[i].ROOMMATECOUNT %>/<%= lobbies[i].ROOMMATEMAX %></h5>
        <ul>
          <li>       
            
            <form action="/viewRoom" method="POST">  
              <input type="hidden" value="<%= lobbies[i].USERID %>" name="userid">
              <input type="hidden" value="<%= lobbies[i].LOBBYID %>" name="lobbyid">
              <input type="hidden" value="<%= lobbies[i].USERNAME %>" name="username">
              <input type="hidden" value="<%= lobbies[i].IMAGE %>" name="image">
              <input type="hidden" value="<%= lobbies[i].ADDRESS %>" name="address">
              <input type="hidden" value="<%= lobbies[i].RENTINGBUDGET %>" name="rent">
              <input type="hidden" value="<%= lobbies[i].BOOKINGLINK %>" name="link">
              <input type="hidden" value="<%= lobbies[i].EMAIL %>" name="email">
              <input type="hidden" value="<%= lobbies[i].TELEPHONE %>" name="telephone">
              <input type="hidden" value="<%= lobbies[i].WIFI %>" name="wifi">
              <input type="hidden" value="<%= lobbies[i].NAME %>" name="name">
              <input type="hidden" value="<%= lobbies[i].TITLE %>" name="title">
              <input type="hidden" value="<%= lobbies[i].DESCRIPTION %>" name="description">
              <input type="hidden" value="<%= lobbies[i].VIEWS %>" name="views">
              <input type="hidden" value="<%= lobbies[i].NOSMOKING %>" name="nosmoking">
              <input type="hidden" value="<%= lobbies[i].NOALCOHOL %>" name="noalcohol">
              <input type="hidden" value="<%= lobbies[i].NOPETS %>" name="nopets">
              <input type="hidden" value="<%= lobbies[i].DATE %>" name="date">
              <input type="hidden" value="<%= lobbies[i].ROOMMATEMAX %>" name="roommatemax">
              <input type="hidden" value="<%= lobbies[i].ROOMMATECOUNT %>" name="roommatecount">
              <input type="hidden" value="<%= lobbies[i].AGEMIN %>" name="agemin">
              <input type="hidden" value="<%= lobbies[i].AGEMAX %>" name="agemax">
              <input type="hidden" value="<%= lobbies[i].STUDENTSONLY %>" name="studOnly">
              <input type="hidden" value="<%= lobbies[i].GENDERSELECT %>" name="gender">
              <button type="submit"  class="btn btn-success" style="padding:.5rem;border-radius:25px;background: none;color: rgb(51, 43, 43);" placeholder="Enter"> 
                <i class="fas fa-door-open"></i>Enter
              </button>              
            </form>
          </li>

          <li><a href="#"><i class="fas fa-bookmark"></i></a></li>
        </ul>
      </div>
      <% } %>

    </div>
   </div>   
 </section>
 <!-- End banner Area -->

 <script src="js/vendor/jquery-2.2.4.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="js/vendor/bootstrap.min.js"></script>
 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
 <script src="js/easing.min.js"></script>
 <script src="js/hoverIntent.js"></script>
 <script src="js/superfish.min.js"></script>
 <script src="js/jquery.ajaxchimp.min.js"></script>
 <script src="js/jquery.magnific-popup.min.js"></script>
 <script src="js/owl.carousel.min.js"></script>
 <script src="js/jquery.sticky.js"></script>
 <script src="js/jquery.nice-select.min.js"></script>
 <script src="js/parallax.min.js"></script>
 <script src="js/waypoints.min.js"></script>
 <script src="js/jquery.counterup.min.js"></script>
 <script src="js/mail-script.js"></script>
 <script src="js/main.js"></script>
</body>

</html>