<!DOCTYPE html>
<html lang="en-us" class="no-js">

<head>
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
 <link rel="shortcut icon" href="img/fav.png">
 <meta name="author" content="codepixer">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta charset="UTF-8">
 <title>Dormmate - Find Lobbies</title>

 <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
 <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
 <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <!--
			CSS
			============================================= -->
 <link rel="stylesheet" href="css/linearicons.css">
 <link rel="stylesheet" href="css/font-awesome.min.css">
 <link rel="stylesheet" href="css/bootstrap.css">
 <link rel="stylesheet" href="css/magnific-popup.css">
 <link rel="stylesheet" href="css/nice-select.css">
 <link rel="stylesheet" href="css/animate.min.css">
 <link rel="stylesheet" href="css/owl.carousel.css">
 <link rel="stylesheet" href="css/main.css">
 <script>
  $(document).ready(function() {
    //Filter Lobby
         $(".filter").hide();
         $(".filter-close").hide();
         $(".filter-search").focus(function(){
             $(".filter-search").hide();
             $(".filter").show(400);
             $(".filter-close").show();
         });
         $(".filter-close").focus(function(){
             $(".filter-close").hide();
             $(".filter-search").show();
             $(".filter").hide(400);
         });
    //Gender Buttons btn-gender
         $(".btn-gender-male").hide();
         $(".btn-gender-female").hide();
         $(".btn-gender-any").focus(function(){
             $(".btn-gender-any").hide();
             $(".btn-gender-male").show();
         });
         $(".btn-gender-male").focus(function(){
             $(".btn-gender-male").hide();
             $(".btn-gender-female").show();
         });
         $(".btn-gender-female").focus(function(){
             $(".btn-gender-female").hide();
             $(".btn-gender-any").show();
         });
    //Student Buttons btn-student
         $(".btn-student-yes").hide();
         $(".btn-student-any").focus(function(){
             $(".btn-student-any").hide();
             $(".btn-student-yes").show();
         });
         $(".btn-student-yes").focus(function(){
             $(".btn-student-yes").hide();
             $(".btn-student-any").show();
         });
    //Wifi buttons btn-wifi
         $(".btn-wifi-yes").hide();
         $(".btn-wifi-any").focus(function(){
             $(".btn-wifi-any").hide();
             $(".btn-wifi-yes").show();
         });
         $(".btn-wifi-yes").focus(function(){
             $(".btn-wifi-yes").hide();
             $(".btn-wifi-any").show();
         });
    //Smoking buttons btn-smoking
         $(".btn-smoking-no").hide();
         $(".btn-smoking-any").focus(function(){
             $(".btn-smoking-any").hide();
             $(".btn-smoking-no").show();
         });
         $(".btn-smoking-no").focus(function(){
             $(".btn-smoking-no").hide();
             $(".btn-smoking-any").show();
         });
    //Alcohol buttons btn-alcohol
         $(".btn-alcohol-no").hide();
         $(".btn-alcohol-any").focus(function(){
             $(".btn-alcohol-any").hide();
             $(".btn-alcohol-no").show();
         });
         $(".btn-alcohol-no").focus(function(){
             $(".btn-alcohol-no").hide();
             $(".btn-alcohol-any").show();
         });
    //Pets buttons btn-pets
         $(".btn-pets-no").hide();
         $(".btn-pets-any").focus(function(){
             $(".btn-pets-any").hide();
             $(".btn-pets-no").show();
         });
         $(".btn-pets-no").focus(function(){
             $(".btn-pets-no").hide();
             $(".btn-pets-any").show();
         });
 });
</script>
</head>


<body>

 <header id="header" id="home">
  <div class="container">
   <div class="row align-items-center justify-content-between d-flex">
    <div id="logo">
      <a href="/home"> <h1 class="text-white text-uppercase">Dormmate</h1> </a>
    </div>
    <nav id="nav-menu-container">
        <ul class="nav-menu">
            <li class="menu-active"><a href="/home">Home</a></li>
            <li><a href="/home#about">About</a></li>
                <li class="menu-has-children"><a class="text-white"><strong> <%= user[0].username %> </strong></a>
                    <ul>
                      <li><a href="/profile">Profile</a></li>
                      <li><a href="/signout">Sign-Out</a></li>                      
                    </ul>
                </li>
        </ul>
    </nav>
    <!-- #nav-menu-container -->
   </div>
  </div>
 </header>
 <!-- #header -->


 <!-- start banner Area -->
 <section id="home">
  <div class="container">
   <div class="row fullscreen d-flex align-items-center justify-content-start"> 
    <!-- Empty Containers -->
    <div class="container px-lg-5">
        <div class="row mx-lg-n5">
          <div class="col py-3 px-lg-5">
          </div>
          <div class="col py-3 px-lg-5">
          </div>
        </div>
      </div>
   
      <div class="container px-lg-5">
        <div class="row mx-lg-n5">
          <div class="col py-3 px-lg-5">
          </div>
          <div class="col py-3 px-lg-5">
          </div>
        </div>
      </div>
 

    
      <!-- End of Empty -->

      <!-- Search form -->
      <div class="container px-lg-5">
        <div class="row mx-lg-n5">
         <div class="col py-3 px-lg-5">
          </div>
          <h4 class="text-white">Search for Lobbies & &nbsp;</h4>
          <h4 class="text-white">Filter Lobbies </h4>
          <div class="col py-3 px-lg-5">
         
          </div>
        </div>
      </div>

      <% if(lobbies.length == 0){ %>
        <div class="container px-lg-5">
          <div class="row mx-lg-n5">
            <div class="col py-3 px-lg-5">
            </div>
         
              <h3>Sorry, no rooms found with those values.... </h3>
           
            <div class="col py-3 px-lg-5">
            </div>
          </div>
        </div>
        <% } %>

    <div class="container px-lg-5">
      <div class="row mx-lg-n5 ">
            <div class="offset-sm-0 offset-md-1 offset-lg-1 col-sm-8 col-md-7 col-lg-7">
              <form class="form-inline d-flex justify-content-center md-form form-sm active-pink active-pink-2 mt-2" action="/findL" method="POST">
                  <input class="form-control mr-3 w-75" type="text" name="locFil" placeholder="Search by Location...">
           
                  <button type="submit" class="btn-sm btn-danger" style="padding:.5rem;border:none;background-color: rebeccapurple;">Search
                    <i class="fas fa-search ml-2"></i></button> 
          
            </div>
              
              <div class="col-sm-4 col-md-3 mt-1 text-left" style="margin-top: none;">
                <button class="filter-search btn-sm btn-warning w-100 mt-1 pl-2 pr-3 py-2 rounded" style="padding:.5rem;border: none;"> Filter<i class="fas fa-search-minus mx-1"></i></button> 
                <button class="filter-close btn-sm btn-warning w-100 mt-1 pl-2 pr-3 py-2 rounded" style="padding:.5rem;border: none;"> Hide </button> 
            </div>
      </div>
    </div>

    <div class="filter filter-card offset-sm-1 col-sm-10 offset-lg-2 col-lg-8"> 
      <h5 class="text-dark text-uppercase"> <i class="fas fa-search-minus"> </i> &nbsp;Select Filters:</h5>
      <div class="col-lg-12"><hr></div>
      <div class="row">

        <div class="offset-sm-0 col-sm-12 col-md-6 offset-lg-1 col-lg-4">
          <h5>Gender&nbsp;<i class="fas fa-venus-mars "></i></h5>
          <select name="gender" class="design text-uppercase custom-select" style="width: 120px;">
            <optgroup label="Please select gender">
              <option>---</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </optgroup>
          </select>
          <br><br>
          <h5>Students Only &nbsp;<i class="fas fa-user-graduate"></i></h5>
          <select name="studentsonly" class="design text-uppercase custom-select" style="width: 120px;">
            <optgroup label="Please select">
              <option>---</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </optgroup>
          </select>
          <br><br>
          <h5>Free Wifi&nbsp;<i class="fas fa-wifi "></i></h5>
          <select name="wifi" class="design text-uppercase custom-select" style="width: 120px;">
            <optgroup label="Please select">
              <option>---</option>
              <option value="T">Yes</option>
              <option value="F">No</option>
            </optgroup>
          </select>
          
          </div>

        <div class="offset-sm-0 col-sm-12 col-md-6 offset-lg-2 col-lg-4"> 
            
          <h5>No Smoking&nbsp;<i class="fas fa-smoking "></i></h5>
          <select name="nosmoking" class="design text-uppercase custom-select" style="width: 120px;">
            <optgroup label="Choose">
              <option>---</option>
              <option value="T">Yes</option>
              <option value="F">No</option>
            </optgroup>
          </select>
          <br><br>
          <h5>No Alcohol&nbsp;<i class="fas fa-wine-bottle "></i></h5>
          <select name="noalcohol" class="design text-uppercase custom-select" style="width: 120px;">
            <optgroup label="Choose">
              <option>---</option>
              <option value="T">Yes</option>
              <option value="F">No</option>
            </optgroup>
          </select>
          <br><br>
          <h5>No Pets&nbsp;<i class="fas fa-paw "></i></h5>
          <select name="nopets" class="design text-uppercase custom-select" style="width: 120px;">
            <optgroup label="Choose">
              <option>---</option>
              <option value="T">Yes</option>
              <option value="F">No</option>
            </optgroup>
          </select>
        </div>
      </form>
      
      </div>
     </div>


      <!-- Cards -->
    <div class="wrapper-flex">
<!-- SOY STOPPED HERE ON 12:19 AM 07/12/2020   -->

      <% for(var i =0; i< lobbies.length;i++){ %>
      <div class="container-card ">
        <div class='banner-img' style="background-image: url('<%=lobbies[i].IMAGE %>')"></div>
        <img src='<%=lobbies[i].PROFILEPICTURE %>' alt='profile image' class="profile-img">
        <p class="roomNumber text-dark"><%=lobbies[i].TITLE %></p>
        <strong>Created by</strong> :  <%= lobbies[i].USERNAME%><br>
        <% if(lobbies[i].NOSMOKING == 'F'){%>
          <i class="fas fa-smoking"></i>
          <% } %>
          <% if(lobbies[i].NOPETS == 'F'){%>  
          <i class="fas fa-paw"></i>
          <% } %>
  
          <% if(lobbies[i].NOALCOHOL == 'F'){%> 
          <i class="fas fa-wine-bottle"></i>
          <% }%> 
  
          <% if(lobbies[i].WIFI == 'T'){%> 
           <i class="fas fa-wifi"></i>
          <% } %>
            
  
        <p class="description"><%=lobbies[i].DESCRIPTION %></p>
        <i class="fas fa-map-marker-alt"></i> &nbsp; <%= lobbies[i].ADDRESS %><br>
        <strong>Rent</strong> : Php <%= lobbies[i].RENTINGBUDGET%><br>
        <strong>Views</strong> :  <%= lobbies[i].VIEWS%><br>
        <strong>Room Members:</strong> <%= lobbies[i].ROOMMATECOUNT %>/<%= lobbies[i].ROOMMATEMAX %></h5>
        <br>
        <ul>
          <li>       
      
              <a href="/viewRoom?id=<%= lobbies[i].LOBBYID %>"  class="btn btn-success" style="padding:.5rem;border-radius:25px;background: none;color: rgb(51, 43, 43);" placeholder="Enter"> 
                <i class="fas fa-door-open"></i>Enter
              </a>              
        
          </li>

          <!-- <li><a href="#"><i class="fas fa-bookmark"></i></a></li> -->
        </ul>
      </div>
      <% } %>

    </div>
   </div>   
 </section>
 <!-- End banner Area -->

 <script src="js/vendor/jquery-2.2.4.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="js/vendor/bootstrap.min.js"></script>
 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
 <script src="js/easing.min.js"></script>
 <script src="js/hoverIntent.js"></script>
 <script src="js/superfish.min.js"></script>
 <script src="js/jquery.ajaxchimp.min.js"></script>
 <script src="js/jquery.magnific-popup.min.js"></script>
 <script src="js/owl.carousel.min.js"></script>
 <script src="js/jquery.sticky.js"></script>
 <script src="js/jquery.nice-select.min.js"></script>
 <script src="js/parallax.min.js"></script>
 <script src="js/waypoints.min.js"></script>
 <script src="js/jquery.counterup.min.js"></script>
 <script src="js/mail-script.js"></script>
 <script src="js/main.js"></script>
</body>

</html>