<!DOCTYPE html>
<html lang="en-us" class="no-js">

<head>
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
 <link rel="shortcut icon" href="img/fav.png">
 <meta name="author" content="codepixer">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta charset="UTF-8">
 <title>Dormmate</title>

 <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
 <!--
			CSS
			============================================= -->
 <link rel="stylesheet" href="css/linearicons.css">
 <link rel="stylesheet" href="css/font-awesome.min.css">
 <link rel="stylesheet" href="css/bootstrap.css">
 <link rel="stylesheet" href="css/magnific-popup.css">
 <link rel="stylesheet" href="css/nice-select.css">
 <link rel="stylesheet" href="css/animate.min.css">
 <link rel="stylesheet" href="css/owl.carousel.css">
 <link rel="stylesheet" href="css/main.css">
</head>

<body>

 <header id="header" id="home">
  <div class="container">
   <div class="row align-items-center justify-content-between d-flex">
    <div id="logo">
        <a href="/home"> <h1 class="text-white text-uppercase">Dormmate</h1> </a>
    </div>
    <nav id="nav-menu-container">
        <ul class="nav-menu">
            <li class="menu-active"><a href="/home">Home</a></li>
            <li><a href="/home#about">About</a></li>
                <li class="menu-has-children"><a class="text-white"><strong> <%= user[0].username %> </strong></a>
                    <ul>
                        <li> <li><a href="/signout">Sign-Out</a></li> </li>                       
                    </ul>
                </li>
        </ul>
    </nav>
    <!-- #nav-menu-container -->
   </div>
  </div>
 </header>
 <!-- #header -->

  <!-- start banner Area -->
  <section id="home">
    <div class="container">
     <div class="row fullscreen d-flex align-items-center justify-content-start"> 
      <!-- Empty Containers -->
      <div class="container px-lg-5">
          <div class="row mx-lg-n5">
            <div class="col py-3 px-lg-5">
  
            </div>
            <div class="col py-3 px-lg-5">
       
            </div>
          </div>
        </div>
     
        <div class="container px-lg-5">
          <div class="row mx-lg-n5">
            <div class="col py-3 px-lg-5">
  
            </div>
            <div class="col py-3 px-lg-5">
       
            </div>
          </div>
        </div>
        <!-- End of Empty -->
  

        <!-- <div class="container px-lg-5">
          <div class="row mx-lg-n5">
           <div class="col py-3 px-lg-5">

            </div>
            <h4 class="text-white">Lobby Details</h4>
            <div class="col py-3 px-lg-5">

            </div>
          </div>
        </div> -->


          <div class="container px-lg-5">
            <div class="row mx-lg-n5">
             <div class="col py-3 px-md-5">
                <a href="/home" class="btn btn-success" style="padding:.5rem;border-radius:25px;background-color: rebeccapurple;"><span class="arrow-left slide-right">BACK</span></a>  
              </div>

              <div class="col py-3 px-md-5">
                <a href="/joinRoom" class="btn btn-success" style="padding:.5rem;border-radius:25px;background-color: rebeccapurple;"><span class="arrow-right">JOIN ROOM CHAT</span></a>
              </div>
            </div>
          </div>
 
 <!-- start banner Area -->
 <section id="home">
  <div class="container">
   <div class="row fullscreen d-flex align-items-center">
    <div class="wrapper-flex" style="width: 100%;">
     <div class="container-card-for-insideRoom">
      <div class="row">
        <!-- Lobby Details -->
        <div class="col-12">
            <h4 class="text-dark text-uppercase"><i class="fas fa-home"></i> &nbsp; Lobby Details</h4>
        <br>
        </div>
        <!-- Title -->
        <div class="col-12">
            <h2 class="text-dark text"> <%= lobby[0].title%></h2>
            <hr>
         </div>
        

        <div class="col-lg-12">
            <h5 class="text-dark text-uppercase">Description:</h5>
            <%= lobby[0].description%>
        </div>

        <div class="col-lg-12"><hr></div>

            <!-- Creation Details -->
            <div class="col-lg-6" style="text-align: right;">     
            <h5 class="text-dark text-uppercase">Lobby Info:</h5>   
            <strong>Created on</strong> :  <%= lobby[0].date%> <br>
            <strong>Age Range</strong> :  <%= lobby[0].agemin%> - <%= lobby[0].agemax%> <br>
            <strong>Lobby Views</strong> :  <%= lobby[0].views%>  <br>
            <strong>Max Roommates</strong> :  <%= lobby[0].roommatemax%>
            </div>
            <div class="col-lg-6" style="text-align: left;">    
            <h5 class="text-dark text-uppercase">Location Info:</h5>
            <strong>Name of Place</strong> : <%= location[0].name %><br>
            <strong>Address</strong> : <%= location[0].address %><br>
            <strong>Booking Link</strong> : <%= location[0].bookinglink %><br>
            <strong>Contact Number</strong>: <%= location[0].telephone %><br>
            </div>


        <div class="col-lg-12"><br><br></div>
<!-- 
        <div class="col-lg-6">
   
        </div> -->

        <div class="col-lg-12">
            <img src='<%= location[0].image %>'class="img-thumbnail">  
        </div>
        <!-- Needs Continuation, Soy stopped here on 06/12/20 12:50am -->
        <div class="col-lg-12">
            <br> 
            <h5 class="text-dark text-uppercase"> Additional Info:</h5>
            <br>
            <% if(lobby[0].nosmoking == 'T'){%>
                <button class="btn btn-danger" style="width: initial;">  No Smoking <i class="fas fa-smoking"></i></button>
            <% }else{ %>
                <button class="btn btn-success" style="width: initial;">  Smoking <i class="fas fa-smoking"></i></button>
            <% }%>

            <% if(lobby[0].nopets == 'T'){%>  
            <button class="btn btn-danger" style="width: initial;">  No Pets  <i class="fas fa-paw"></i></button>
            <% } else { %>
            <button class="btn btn-success" style="width: initial;">  Pets  <i class="fas fa-paw"></i></button>
            <% } %>

            <% if(lobby[0].noalcohol == 'T'){%> 
            <button class="btn btn-danger" style="width: initial;">  No Alcohol <i class="fas fa-wine-bottle"></i></button>
            <% } else {%>
            <button class="btn btn-success" style="width: initial;">  Alcohol <i class="fas fa-wine-bottle"></i></button>
            <% } %>
            
    
            <% if(lobby[0].noalcohol == 'T'){%> 
                <button class="btn btn-danger" style="width: initial;">  No Wifi <i class="fas fa-wifi"></i></button>
            <% } else {%>
                <button class="btn btn-success" style="width: initial;">  Wifi <i class="fas fa-wifi"></i></button>
            <% } %>
            
        </div>

        <div class="col-lg-12"><hr></div>

        <div class="col-lg-12">

            <h5 class="text-dark text-uppercase"><i class="fas fa-user"></i> &nbsp;Room Members: <%= lobby[0].roommatecount%>/<%= lobby[0].roommatemax%></h5>
            <% console.log("Roomates are")%>
            <% console.log(roommate)%>
            <% for(var i = 0;i < roommate.length;i++) {%>
                <!-- <% var roomie = roommate[i]%> -->
            <div class="row">
                <div class="profile-card">
                    <% if(user[0].userid == lobby[0].lobbyhostid ){ %>
                    <span class="pro">Host</span>
                    <% }else {%>
                    <span class="verified">Member</span>
                    <%}%>
                    <img class="round" src='<%= roommate[i].PROFILEPICTURE%>' alt="user" />
                    <h5 class="text-dark"><%= roommate[i].USERNAME%></h5>
                    <div class="col-lg-12">
                        <%= roommate[i].FIRSTNAME + ' ' + roommate[i].LASTNAME %><br>
                        <i class="fas fa-thumbs-up"></i>&nbsp;<%= roommate[i].UPVOTE%> &emsp; <i class="fas fa-thumbs-down"></i>&nbsp;<%= roommate[i].DOWNVOTE%>
                    </div>
                </div>
            <%}%>
        
            </div>
        </div>
      </div>
     </div>

     </div>
    </div>
   </div>
 </section>
 <!-- End banner Area -->


 <script src="js/vendor/jquery-2.2.4.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="js/vendor/bootstrap.min.js"></script>
 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
 <script src="js/easing.min.js"></script>
 <script src="js/hoverIntent.js"></script>
 <script src="js/superfish.min.js"></script>
 <script src="js/jquery.ajaxchimp.min.js"></script>
 <script src="js/jquery.magnific-popup.min.js"></script>
 <script src="js/owl.carousel.min.js"></script>
 <script src="js/jquery.sticky.js"></script>
 <script src="js/jquery.nice-select.min.js"></script>
 <script src="js/parallax.min.js"></script>
 <script src="js/waypoints.min.js"></script>
 <script src="js/jquery.counterup.min.js"></script>
 <script src="js/mail-script.js"></script>
 <script src="js/main.js"></script>
 <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>
</body>
</html>