<!DOCTYPE html>
<html lang="en-us" class="no-js">

<head>
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
 <link rel="shortcut icon" href="img/fav.png">
 <meta name="author" content="codepixer">
 <meta name="description" content="">
 <meta name="keywords" content="">
 <meta charset="UTF-8">
 <title>Dormmate</title>

<style>

</style>

 <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
 <!-- CSS ============================================= -->
 <link rel="stylesheet" href="css/linearicons.css">
 <link rel="stylesheet" href="css/font-awesome.min.css">
 <link rel="stylesheet" href="css/bootstrap.css">
 <link rel="stylesheet" href="css/magnific-popup.css">
 <link rel="stylesheet" href="css/nice-select.css">
 <link rel="stylesheet" href="css/animate.min.css">
 <link rel="stylesheet" href="css/owl.carousel.css">
 <link rel="stylesheet" href="css/main.css">
</head>

<body>

 <header id="header" id="home">
  <div class="container">
   <div class="row align-items-center justify-content-between d-flex">
    <div id="logo">
     <h1 class="text-white text-uppercase">Dormmate</h1>
    </div>
    <nav id="nav-menu-container">
        <ul class="nav-menu">
            <li class="menu-active"><a href="/home">Home</a></li>
            <li><a href="/home#about">About</a></li>
                <li class="menu-has-children"><a class="text-white"><strong> <%= user[0].username %> </strong></a>
                    <ul>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/signout">Sign-Out</a></li>                       
                    </ul>
                </li>
        </ul>
    </nav>
    <!-- #nav-menu-container -->
   </div>
  </div>
 </header>
 <!-- #header -->

  <!-- start banner Area -->
  <section id="home">
    <div class="container">
     <div class="row fullscreen d-flex align-items-center justify-content-start"> 
      <!-- Empty Containers -->
      <div class="container px-lg-5">
          <div class="row mx-lg-n5">
            <div class="col py-3 px-lg-5">
  
            </div>
            <div class="col py-3 px-lg-5">
       
            </div>
          </div>
        </div>
     
        <div class="container px-lg-5">
          <div class="row mx-lg-n5">
            <div class="col py-3 px-lg-5">
  
            </div>
            <div class="col py-3 px-lg-5">
       
            </div>
          </div>
        </div>
        <!-- End of Empty -->
  
        <div class="container px-lg-5">
            <div class="row mx-lg-n5">
                <div class="col py-3 px-md-5">
                    <form action="/findL" method="GET"> <button class="btn btn-success" style="padding:.5rem;border-radius:25px;background-color: rebeccapurple;"><span class="arrow-left slide-right">BACK</span></button> </form>
                </div>
                <% if(applicant.length === 1){ %>
                    <% if(applicant[0].APPROVED === 'W' || applicant[0].APPROVED === 'F'){ %>
                    <div class="col py-3 px-md-5">
                        <a href="   " class="btn btn-success" style="padding:.5rem;border-radius:25px;background-color: rebeccapurple;"><span class="arrow-right"><i class="fas fa-lock"></i>&nbsp;&nbsp;CHATROOM</span></a>
                    </div>
                    <% }else{ %>
                        <div class="col py-3 px-md-5">
                            <a href="/joinRoom" class="btn btn-success" style="padding:.5rem;border-radius:25px;background-color: rebeccapurple;"><span class="arrow-right"><i class="fas fa-comments"></i>&nbsp;&nbsp;ENTER CHATROOM</span></a>
                        </div>
                    <% } %>
                <% } %>
                <% var y = 'F' %>
                <% if(roommates.length > 0 && applicant.length != 1){ %>  
                    <% for(var x = 0; x < lobby[0].ROOMMATECOUNT; x++){ %>
                        <% if(roommates[x].userid === user[0].userid){ %>     
                            <div class="col py-3 px-md-5">
                                <a href="/joinRoom" class="btn btn-success" style="padding:.5rem;border-radius:25px;background-color: rebeccapurple;"><span class="arrow-right"><i class="fas fa-comments"></i>&nbsp;&nbsp;ENTER CHATROOM</span></a>
                            </div>
                            <% x = lobby[0].ROOMMATECOUNT %>
                            <% y = 'T' %>
                        <% } %>
                    <% } %>
                    
                    <% if(y === 'F'){ %>
                        <div class="col py-3 px-md-5">
                            <a href="" class="btn btn-success" style="padding:.5rem;border-radius:25px;background-color: rebeccapurple;"><span class="arrow-right"><i class="fas fa-lock"></i>&nbsp;&nbsp;CHATROOM</span></a>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
 
 <!-- start banner Area -->
 <section id="home">
  <div class="container">
   <div class="row fullscreen d-flex align-items-center">
    <div class="wrapper-flex" style="width: 100%;">
     <div class="container-card-for-insideRoom">
      <div class="row">
        <div class='col-lg-12'>
            <h1 class="text-dark text-uppercase"><%= lobby[0].TITLE %></h1>
            <h4 class="text-dark text-uppercase" style=" border: 1px solid grey;"></h4>
        </div><br><br>
        <% if(user[0].userid != lobby[0].LOBBYHOSTID && applicant.length != 1 && lobby[0].ROOMMATECOUNT != lobby[0].ROOMMATEMAX && y != 'T'){ %>
            <div class = "col-lg-12">
               <br> <a href="/apply" class="btn" style="width: initial; color: black; background-color: #c3c3e590;">Request to Join Chatroom</a><br>
            </div>
        <% }else if(applicant.length === 1 && applicant[0].APPROVED != 'T' && applicant[0].APPROVED != 'F' && lobby[0].ROOMMATECOUNT != lobby[0].ROOMMATEMAX){ %>
            <div class = "col-lg-12">
              <br><a href="/cancel" class="btn" style="width: initial; color: black; background-color: #c3c3e590;">Cancel Request to Join Chatroom</a><br>
            </div>                              
        <% } %> 
        <% if(applicant.length === 1 && applicant[0].APPROVED === 'F'){ %>
            <div class = "col-lg-12">
                <br><span class="btn" style="width: initial; color: black; background-color: #c3c3e590;">Request Declined <br> <small style="font-size: 10px;">cannot request anymore</small></span><br>
            </div>
        <% } %>  
        <% if(lobby[0].ROOMMATECOUNT === lobby[0].ROOMMATEMAX && y === 'F'){ %>
            <div class = "col-lg-12">
                <br><span class="btn" style="width: initial; color: black; background-color: #c3c3e590;">Lobby is Full <br> <small style="font-size: 10px;">cannot request anymore</small></span><br>
            </div>
        <% } %>
        <% if(roommates.length > 0){ %>  
            <% for(var x = 0; x < lobby[0].ROOMMATECOUNT; x++){ %>
                <% if(roommates[x].userid === user[0].userid && roommates[x].userid != lobby[0].LOBBYHOSTID){ %>     
                    <div class = "col-lg-12">
                        <br> <a href="/leave?id=<%= user[0].userid %>" class="btn" style="width: initial; color: black; background-color: #c3c3e590;">Leave Lobby</a><br>
                    </div>
                    <% x = lobby[0].ROOMMATECOUNT %>
                <% } %>
            <% } %>
        <% } %>
        <div class="col-lg-12"><hr></div>
        <div class="col-lg-6" style="text-align: right;"> 
        <% if(roommates.length > 0){ %>  
            <% for(var x = 0; x < lobby[0].ROOMMATECOUNT; x++){ %>
                <% if(roommates[x].userid === lobby[0].LOBBYHOSTID){ %>     
                    <b style="color: black;">Created by</b> : <%= roommates[0].firstname %> <%= roommates[0].lastname %><br>
                <% } %>
            <% } %>
        <% } %>
        <b style="color: black;">Views</b> : <%= lobby[0].VIEWS %> <br>
        </div>
        <div class="col-lg-6" style="text-align: left;">    
            <b style="color: black;">Created on</b> : <%= lobby[0].DATEANDTIME %> <br>
            <b style="color: black;">Max Roommates</b> : <%= lobby[0].ROOMMATEMAX %>
        </div>
        <div class="col-lg-12"><hr></div><br> 
        <div class="col-lg-12">
            <h5 class="text-dark text-uppercase">Description:</h5>
            <%= lobby[0].DESCRIPTION %> <br><br>
            <b style="color: black;">PERSONAL PREFERENCE:</b> <br><br>
            <b style="color: black;">Gender:</b> <%= lobby[0].GENDERSELECT %> <br>
            <b style="color: black;">Age Range:</b> <%= lobby[0].AGEMIN %> - <%= lobby[0].AGEMAX %><br>
            <% if (lobby[0].STUDENTSONLY === 'Yes'){ %>
                <b style="color: black;">Students Only</b> <br>
            <% }else if(lobby[0].STUDENTSONLY === 'Verified Only'){ %>
                <b style="color: black;">Verified Students Only</b> <br>
            <% } %>
            <% if (lobby[0].NOSMOKING === 'T'){ %>
                <b style="color: black;"> No Smoking <i class="fas fa-smoking-ban"></i></b> <br>
            <% }else if(lobby[0].NOSMOKING === 'Outdoor Only'){ %>
                <b style="color: black;">Smoking Allowed Outside Only <i class="fas fa-smoking"></i></b>  <br>
            <% }else{ %>
                <b style="color: black;"> Smoking Allowed (Indoor/Outdoor) <i class="fas fa-smoking"></i></b> <br>
            <% } %>
            <% if (lobby[0].NOALCOHOL === 'T'){ %>
                <b style="color: black;">No Alcohol Allowed <i class="fa fa-exclamation-triangle"></i></b> <br>
            <% }else if(lobby[0].NOSMOKING === 'Outdoor Only'){ %>
                <b style="color: black;">Alcohol Allowed Outside Only <i class="fas fa-wine-bottle"></i></b> <br>
            <% }else{ %>
                <b style="color: black;"> Alcohol Allowed (Indoor/Outdoor) <i class="fas fa-wine-bottle"></i></b> <br>
            <% } %>
            <% if (lobby[0].NOPETS === 'T'){ %>
                <b style="color: black;">No Pets Allowed <i class="fa fa-ban" aria-hidden="true"></i></b> <br>
            <% }else if(lobby[0].NOPETS === 'F'){ %>
                <b style="color: black;">Pets Allowed <i class="fa fa-paw" aria-hidden="true"></i></b><br>
            <% } %>
            <br>
            <b style="color: black;">Lobby Status:</b> <%= lobby[0].SEARCHSTATE %>
               
        </div>
        <div class="col-lg-12"><br><br></div>
        <div class="col-lg-6">
            <h5 class="text-dark text-uppercase">Location:</h5>
            <%= lobby[0].ADDRESS %> <br><br>

            <b style="color: black;">ROOM INFORMATION:</b> <br><br>
            <img src="<%= lobby[0].IMAGE %>" width="250" height="150"><br>
            <b style="color: black;">Name:</b> <%= lobby[0].NAME %> <br>
            <b style="color: black;">Renting Budget:</b> <%= lobby[0].RENTINGBUDGET %> Php <br>
            <b style="color: black;">Booking Link:</b> <a href="<%= lobby[0].BOOKINGLINK %>" target="_blank"><%= lobby[0].BOOKINGLINK %></a> <br>
            <b style="color: black;">Email:</b> <%= lobby[0].EMAIL %><br>
            <b style="color: black;">Telephone No.:</b> <%= lobby[0].TELEPHONE %><br>
            <% if(lobby[0].WIFI === 'F'){ %>
                <b style="color: black;">No WIFI <i class="fas fa-exclamation"></i></b>
            <% }else{ %>
                <b style="color: black;"><i class="fa fa-wifi" aria-hidden="true"></i> Free WIFI</b>
            <% } %>
            <br><br><b style="color: black;">Room Rating: &nbsp;&nbsp;</b><i class="fas fa-thumbs-up"></i>&nbsp;<%= lobby[0].UPVOTES%> &emsp; <i class="fas fa-thumbs-down"></i>&nbsp;<%= lobby[0].DOWNVOTES%>

        </div>
        <div class="col-lg-6">
   
        </div> -->

        <div class="col-lg-12">
            <img src='<%= lob.image %>'class="img-thumbnail">  
        </div>
        <div class="col-lg-12">
            <br><br>
        </div>
        <div class="col-lg-12">
            <h5 class="text-dark text-uppercase">Room Members: <%= lobby[0].ROOMMATECOUNT %>/<%= lobby[0].ROOMMATEMAX %></h5>
            <div class="row">
            <% for(var x = 0; x < lobby[0].ROOMMATECOUNT; x++){ %>
                <% if(roommates[x].userid === lobby[0].LOBBYHOSTID){ %>
                    <div class="profile-card">
                        <span class="pro">Host</span>
                        <img class="round" src="<%= roommates[x].profilepicture %>" alt="user" />
                        <h5 class="text-dark"><%= roommates[x].username %></h5>
                        <div class="col-lg-12">
                            <%= roommates[x].firstname %>  <%= roommates[x].lastname %>
                            <br><i class="fas fa-thumbs-up"></i>&nbsp;<%= roommates[x].upvote%> &emsp; <i class="fas fa-thumbs-down"></i>&nbsp;<%= roommates[x].downvote%>
                        </div>
                    </div>
                <% }else if(roommates[x].userid != lobby[0].LOBBYHOSTID){ %>
                    <div class="profile-card">
                        <span class="verified">Member</span>
                        <img class="round" src="<%= roommates[x].profilepicture %>" alt="user" />
                        <h5 class="text-dark"><%= roommates[x].username %></h5>
                        <div class="col-lg-12">
                            <%= roommates[x].firstname %>  <%= roommates[x].lastname %>
                            <br><i class="fas fa-thumbs-up"></i>&nbsp;<%= roommates[x].upvote%> &emsp; <i class="fas fa-thumbs-down"></i>&nbsp;<%= roommates[x].downvote%>
                        </div>
                    </div>
                <% } %>
            <% } %>
            </div>
        </div>
      </div>
     </div>

     </div>
    </div>
   </div>
 </section>
 <!-- End banner Area -->

  <script>
    function myFunction() {
      var popup = document.getElementById("myPopup");
      popup.classList.toggle("show");
    }
</script>
 <script src="js/vendor/jquery-2.2.4.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="js/vendor/bootstrap.min.js"></script>
 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
 <script src="js/easing.min.js"></script>
 <script src="js/hoverIntent.js"></script>
 <script src="js/superfish.min.js"></script>
 <script src="js/jquery.ajaxchimp.min.js"></script>
 <script src="js/jquery.magnific-popup.min.js"></script>
 <script src="js/owl.carousel.min.js"></script>
 <script src="js/jquery.sticky.js"></script>
 <script src="js/jquery.nice-select.min.js"></script>
 <script src="js/parallax.min.js"></script>
 <script src="js/waypoints.min.js"></script>
 <script src="js/jquery.counterup.min.js"></script>
 <script src="js/mail-script.js"></script>
 <script src="js/main.js"></script>
 <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>
</body>
</html>